.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    padding: 15px;
    width: 170px;
    /* justify-content: flex-end; */
}

.title{
    margin-top:10px;
}

.img {
    border-radius: 10px;
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: rgba(183, 183, 183, 0.816);
}

.price{
    margin-top: 10px;
    align-self: center;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
    align-self: stretch;
    border-radius: 10px;
}